.cart{
  width: 100%;
  min-height: 79vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  .menuArea{
    width:100%;
    background-color: rgba(254, 244, 228, 0.59);
    padding:0 20px;

    .menuItem{
      width:calc(100% - 40px);
      height:197px;
      box-sizing: border-box;
      padding:20px 0 20px 15px;
      border-bottom:1px solid rgba(0,0,0,0.5);
      position:relative;
      &:last-child{
        border-bottom:none;
      }
      .textArea{
        width:max-content;
        height:100px;
        position:relative;
        p{
          margin:0;
          font-size:15px;
        }
        .name{
          font-weight: 700;
        }
        .value{
          color:rgba(0,0,0,0.55);
        }
        .sumValue{
          position:absolute;
          bottom:0;
          left:0;
        }
      }
      .menuImg{
        position:absolute;
        top:20px;
        right:0;
      }
      .countBox{
        width:120px;
        height:25px;
        display:flex;
        justify-content: space-between;
        margin-top: 20px;
        float:right;
        padding:4px 7px;
        background-color: rgba(2,2,2,0.1);
        box-sizing: border-box;
        img{
          max-width: 17px;
          cursor:pointer;
        }
        #cnt{
          margin:0;
          font-size:17px;
          line-height:17px;
          text-align:center;
        }
      }
    }
  }
  .checkPrice{
    font-size:15px;
    margin:60px 0 10px 10px;
    font-weight:bold;
  }
  .receipt{
    width:100%;
    height: 51px;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,0.5);
    border-radius:20px;
    padding:0 20px;
    span{
      font-size:17px;
      font-weight:bold;
      line-height: 51px;
      &:last-child{
        float:right;
      }
    }
  }
  .orderBtn{
    width:100%;
    height:43px;
    border-radius:4px;
    margin:25px 0 10px 0;
    background: rgba(227,227,227,0.4);
    text-align:center;
    line-height:43px;
    border:0.35px solid #767676;
    box-sizing:border-box;
  }
}