.header{
  width:25em;
  height: 11vh;
  background-color: #D9D9D9;
  padding:0 3vh;
  box-sizing: border-box;
  text-align: right;
  line-height: 11vh;
  position: fixed;
  top:0;
  z-index: 5;
  img{
    position: absolute;
    left:1vh;
    top:50%;
    transform: translate(0, -50%);
    width:35%;
  }
}