.cart{
  width: 100%;
  min-height: 79vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  #popupBG{
    &.hide{
      display: none;
    }
    max-width:400px;
    box-sizing: border-box;
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    z-index: 10;
    padding:0 14px ;
    background-color: rgba(17, 17, 17, 0.5);
    .popup{
      width:100%;
      background-color: #FFFFFF;
      height:232px;
      margin-top: 35%;
      border-radius:15px;
      padding:16px 25px;
      box-sizing: border-box;
      z-index:11;
      .xIcon{
        width:20px;
        height:20px;
        float:right;
        cursor:pointer;
      }
      .btnArea{
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        .btn{
          width:87px;
          height:40px;
          border-radius:8px;
          background-color: rgba(44,44,44,0.8);
          line-height: 40px;
          text-align: center;
          color:#ffffff;
        }
      }
    }
  }
  .menuArea{
    width:100%;
    box-sizing: border-box;
    padding:0 60px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .table{
      width:100px;
      height:100px;
      border:1px solid #000000;
      margin-bottom: 40px;
      text-align: center;
      line-height: 170px;
      font-size: 8px;
      position:relative;
      &.red{
        color:#FF0000;
      }
      &.green{
        color:#00FF00;
      }
      &.blue{
        color:#0000FF;
      }
      .tableId{
        line-height: 0;
        position: absolute;
        color:#000000;
        right:10px;
        bottom:15px;
        font-size:15px;
      }
    }
  }

}